# Last 24 months
last 2 iOS versions
last 2 Safari versions

# Last 6 months
last 4 Firefox versions

# Last 6 months
last 5 Chrome versions

# Last 6 months
last 3 Opera versions

# Last 18 months
last 3 Edge versions
